/* style general */
body{

    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f4f4f4;
}
/* Header */
header{


    background-color: #2e7d32;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
top: 0;
width: 100%;
z-index: 100;
}
nav{
    margin-top: 10px;
}
nav a{

    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}

ul{
    list-style-type: none;
}



/* Section vehicules */
.vehicules{
padding: 40px;
}
/* Grid */
.grid-container{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
gap: 20px;
}

/* carte voiture */
.card{
background: white;
border-radius: 8px;
box-shadow: 0 2px 6px rgba(0, 0,0,1);
padding: 15px;
text-align: center;
transition: 0.3s;
}
.card:hover{

    transform: translateY(-5px);
}
.card img{

    width: 100%;
}
.TOYOTA{
    display: flex;
    justify-content: center;
}
.TOYOTA img{
    width: 100px;
}
.FORD{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.FORD img{
     width: 100px;
}

.BMW{
    display: flex;
    justify-content: center;
     margin-top: 100px;
}

.BMW img{
     width: 100px;
}

.MERCEDES{
    display: flex;
    justify-content: center;
     margin-top: 100px;
}

.MERCEDES img{
     width: 100px;
}

.RANGE{
    display: flex;
    justify-content: center;
     margin-top: 100px;
}

.RANGE img{
     width: 200px;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}
button{
    background-color: #2e7d32;
    color: white;
    font-size: 25px;
}
.prix{
    color: orange;
}